{% extends 'manageEmp/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<main>
  <div class="form-container">
    <h2>Add Asset Informations</h2>
    <form id="add-asset-form" class="signup-form" action="{% url 'add_asset' %}" method="post">
      {% csrf_token %}
      <input type="text" name="asset_name" placeholder="Asset Name " required>
      <input type="text" name="serial_number" placeholder="Serial-No " required>
      <input type="text" name="model" placeholder="Model" required> 
      <button type="submit" name="add_asset">Register Asset</button>
    </form>
  </div>
</main>

{% endblock %}
