{% extends 'manageEmp/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<main>
  <div class="form-container">
    <h2>Add Asset Informations</h2>
  <form id="add-asset-form" class="signup-form" action="{% url 'add_asset' %}" method="post">
    {% csrf_token %}
    <input type="text" name="id" placeholder="id_number" required>
    <select name="assetName" id="">
        <option value="laptop">laptop</option>
        <option value="car">car</option>
        <option value="phone">Phone</option>
    </select>
     <input type="text" name="sno" placeholder="serial-No " required>
    <input type="text" name="model" placeholder="model" required> 
    <button type="submit" name="add_asset">Register Asset</button>
</form>
</div>
</main>

{% endblock %}
