{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Website</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'manageEmp/css/admin.css' %}">
</head>
<body>
    <header>
        <h1>EMS</h1>
        <div class="user-icon">
            <i class="bx bx-user-circle"></i>
        </div>
    </header>

    <div class="container">
        <aside class="sidebar">
            <ul>
                <li><a href="#" onclick="showForm('add-employee-form')">Add Employee</a></li>
                <li><a href="#" onclick="showForm('add-asset-form')">Enventories</a></li>
                <li><a href="#" onclick="showForm('add-leave-form')">Add Leave</a></li>
            </ul>
        </aside>

        <main class="content">
            <div class="form-container">

                <form id="add-employee-form" class="signup-form" action="manageEmp/add_employee.html" method="post">
                    {% csrf_token %}
                    <button type="submit" name="add_employee"><a href="{% url 'add_employee' %}"></a>Add Employee</button>
                </form>

                <form id="add-asset-form" class="login-form" action="#" method="post">
                    {% csrf_token %}
                    <button type="submit" name="add_asset">Add Asset</button>
                </form>

                <form id="add-leave-form" class="add-asset-form" action="#" method="post">
                    {% csrf_token %}
                    <button type="submit" name="add_leave">Add Leave</button>
                </form>
            </div>
        </main>
    </div>

    <footer>
        <p>&copy; 2023 Employee Management System. All rights reserved.</p>
    </footer>

    <script>
        function showForm(formId) {
            var forms = document
                .getElementsByClassName("content")[0]
                .getElementsByTagName("form");
            for (var i = 0; i < forms.length; i++) {
                forms[i].style.display = "none";
            }
            document.getElementById(formId).style.display = "block";
        }
    </script>
</body>

</html>