 
{% extends 'manageEmp/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<main>
  <div class="form-container">

  <h1>Remove Employee</h1>
  <p>Are you sure you want to remove this employee?</p>
  <form method="post" action="{% url 'delete_employee' employee.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" onclick="return confirmDelete()">Remove</button>
  </form>
  <a href="{% url 'admin_dashboard'%}"><button>Cancel</button></a>

  <script>
    function confirmDelete() {
      return confirm("Are you sure you want to delete this item?");
    }
  </script>
 
</div>
</main>

{% endblock %}

 