{% extends 'manageEmp/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<main>
    <div class="form-container">
      <h2>Login Form</h2>

      {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
      {% endif %}

      <form action="/signin" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
        <div class="signup-link">
          Not a member? <a href="/signup">Register Now</a>
        </div>
      </form>
    </div>
  </main>


{% endblock %}
